<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2023 VisionAI. The source code of this site has been borrowed from <a href="https://www.allanlab.org/">here</a></p>
              <p>We are part of the Advanced Information Technologies Group at <a href="https://www.ceer.res.in/">CSIR-CEERI</a>.</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  Funding and collaborations:<br />
			- Our academic and industrial partners have been acknowledged above.<br />
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  CSIR-Central Electronics Engineering Research Institute<br />
		  Pilani PIN:333031<br />
		  Rajasthan<br />
		  India <br />
            (<a href="https://maps.app.goo.gl/JC3zE5QxSVoiykXb8">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
