<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2023 VisionAI</p>
              <p>The source code of this site has been borrowed from <a href="https://www.allanlab.org/">here</a>.</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  -
		</div>
		<div class="col-sm-4">
		  Contact: Dr. Sanjay Singh<br />
			sanjay[at]ceeri.res.in<br />
            (<a href="https://maps.app.goo.gl/JC3zE5QxSVoiykXb8">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
